svg
  font 10px sans-serif

.statusbar form
  margin-bottom 0

.line
  fill none
  stroke #000
  stroke-width 1.5px

.maxline
  stroke #f00
  stroke-width 1.5px
 
.axis path, .axis line
  fill none
  stroke #000
  shape-rendering crispEdges

.analog-dial .background
  fill #ccc

.analog-dial .foreground
  fill #000

.analog-dial text
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 18px
  font-weight bold